@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.web-component {
    --font-family: Roboto, sans-serif;
    --background-color: #fff;
    --border-radius: .25rem;
    --border-color: #bdbdbd;
    --border-color-focussed: #1266f1;
    --border-color-dirty: orange;
    --font-size: 1rem;
    --line-height: 1.6;
    --color: #4f4f4f;
    --label-color: rgba(0,0,0,.6);

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: var(--line-height);
    position: relative;
    box-sizing: border-box;
    padding: 0;
}

